/*!
 * Start Bootstrap - New Age v5.0.8 (https://startbootstrap.com/themes/new-age)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-new-age/blob/master/LICENSE)
 */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  color: #03dac6;
  transition: all .35s;
  padding: 10px;
}

a:hover, a:focus {
  color: #02a898;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: black;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  font-weight: 900;
  color: #03dac6;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #02a898;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #eeeeee;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #03dac6 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #eeeeee;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #03dac6;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(238, 238, 238, 0.1);
    background-color: black;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #bb86fc;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #03dac6;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #eeeeee;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #03dac6;
  }
}

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background-image: url("../img/bg-masthead1.png");
  background-position: center;
  background-size: cover;
}

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}

header.masthead .header-content h1 {
  font-size: 30px;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead .header-content h1 {
    font-size: 50px;
  }
  header.masthead .device-container {
    max-width: 325px;
  }
}
header.masthead span {
  opacity: 0;
  transition: all 0.4s ease;
}

header.masthead span.fade {
  opacity: 1;
}

section.download {
  position: relative;
  padding: 150px 0;
  background-image: url("../img/bg-download.png");
  background-position: center;
  background-size: cover;
  color: white;
}

section.download h2 {
  font-size: 50px;
  margin-top: 0;
}

section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}

section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}

section.download .badges .badge-link img {
  height: 60px;
}

@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  section.download h2 {
    font-size: 70px;
  }
}

section.features {
  position: relative;
  padding: 250px 0;
  background-image: url("../img/bg-features.png");
  background-position: center;
  background-size: cover;
  color: #eeeeee;
}

section.features .section-heading {
  margin-bottom: 100px;
}

section.features .section-heading h2 {
  margin-top: 0;
}

section.features .section-heading p {
  margin-bottom: 0;
}

section.features .device-container,
section.features .feature-item {
  max-width: 325px;
  margin: 0 auto;
}

section.features .device-container {
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  section.features .device-container {
    margin-bottom: 0;
  }
}

section.features .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

section.features .feature-item h3 {
  font-size: 30px;
}

section.features .feature-item i1 {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background-color: #67fff0;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.features .feature-item i2 {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background-color: #bb86fc;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.features2 {
  position: relative;
  padding: 250px 0;
  background-image: url("../img/bg-features2.png");
  background-position: center;
  background-size: cover;
  color: #eeeeee;
}

section.features2 .section-heading {
  margin-bottom: 100px;
}

section.features2 .section-heading h2 {
  margin-top: 0;
}

section.features2 .section-heading p {
  margin-bottom: 0;
}

section.features2 .device-container,
section.features2 .feature-item {
  max-width: 325px;
  margin: 0 auto;
}

section.features2 .device-container {
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  section.features2 .device-container {
    margin-bottom: 0;
  }
}

section.features2 .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

section.features2 .feature-item h3 {
  font-size: 30px;
}

section.features2 .feature-item i1 {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background-color: #67fff0;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.features2 .feature-item i2 {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background-color: #bb86fc;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.contact {
  text-align: center;
}

section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

section.contact h2 i {
  color: #dd4b39;
}

section.contact ul.list-social {
  margin-bottom: 0;
}

section.contact ul.list-social li a {
  font-size: 40px;
  line-height: 80px;
  display: block;
  width: 80px;
  height: 80px;
  color: white;
  border-radius: 100%;
}

section.contact ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}

section.contact ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}

section.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}

section.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}

section.contact ul.list-social li.social-google-plus a {
  background-color: #dd4b39;
}

section.contact ul.list-social li.social-google-plus a:hover {
  background-color: #d73925;
}

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}

.bg-primary {
  background: #03dac6;
}

.text-primary {
  color: #03dac6;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #03dac6;
  background-color: #03dac6;
}

.btn-outline-b {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline-b:hover, .btn-outline-b:focus, .btn-outline-b:active, .btn-outline-b.active {
  color: white;
  border-color: #bb86fc;
  background-color: #bb86fc;
}

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-small {
  font-size: 15px;
  padding: 5px 5px;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

.color-text {
  font-size: 50px;
  color: #03dac6;
}

.color-text:hover, .color-text:focus, .color-text:active, .color-text.active {
  color: #9f54fb;
}

.column {
  float: left;
  padding: 5px;
  height: 40px;
  /* Should be removed. Only for demonstration */
}

.left {
  width: 25%;
}
.form {
  width: 100%;
  height: 60px;
  position: relative;
  overflow: hidden;
}
.form input {
  background-color:transparent;
  width: 100%;
  height: 100%;
  color: #03dac6;
  border: none;
  padding-top: 10px;
  font-size: 30px;
  outline: none;
  border-bottom: 3px solid #02a898;
  text-align: center;
}

.content-sessionNr {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}
