// Bootstrap overrides for this template
.bg-primary {
    background: #03dac6;
   
}

.text-primary {
    color: #03dac6;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.btn-outline {
    color: white;
    border: 1px solid;
    border-color: white;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: white;
        border-color: $theme-primary;
        background-color: $theme-primary;
    }
}

.btn-outline-b {
    color: white;
    border: 1px solid;
    border-color: white;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: white;
        border-color: $theme-secondary;
        background-color: $theme-secondary;
    }
}

.btn {
    border-radius: 300px;
    @include alt-font;
}

.btn-small {
    font-size: 15px;
    padding: 5px 5px;
}

.btn-xl {
    font-size: 11px;
    padding: 15px 45px;
}

.color-text{
    font-size: 50px;
    color: $theme-primary;
    &:hover,
    &:focus,
    &:active,
    &.active {
            color: darken($theme-secondary, 10%);
        }
}

.column {
    float: left;
    padding: 5px;
    height: 40px; /* Should be removed. Only for demonstration */
  }
  .left {
    width: 25%;
  }
  .form {
    width: 100%;
    height: 60px;
    position: relative;
    overflow: hidden;
  }
  .form input {
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: #03dac6;
    border: none;
    padding-top: 10px;
    font-size: 30px;
    outline: none;
    border-bottom: 3px solid #02a898;
    text-align: center;
  }
  
  .content-sessionNr {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
  }
  