// Styling for the call to action section
// Styling for the features section
section.features2 {

    position: relative;
    padding: 250px 0;
    background-image: url('../img/bg-features2.png');
    background-position: center;
    @include background-cover;

    color: $gray-lighter;

    .section-heading {
        margin-bottom: 100px;
        h2 {
            margin-top: 0;
        }
        p {
            margin-bottom: 0;
        }
    }
    .device-container,
    .feature-item {
        max-width: 325px;
        margin: 0 auto;
    }
    .device-container {
        margin-bottom: 100px;
        @media(min-width: 992px) {
            margin-bottom: 0;
        }
    }
    .feature-item {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        h3 {
            font-size: 30px;
        }
        i1 {
            font-size: 80px;
            display: block;
            margin-bottom: 15px;
            background-color: $theme-icon-a;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
    }
    
}